/*ALL PAGES--------------------------------------------------------------- */
/*Header bar (beige)*/
#bootstrap-override header {
  width: 100%;
  padding: 25px;
  z-index: 10;
  position: fixed;
  text-align: center;
  background: rgb(245, 245, 220);
}

/*Title (Duckify)*/
#bootstrap-override h1 {
  margin: 0;
  font-family: 'Montserrat', monospace;
  font-weight: 800;
  font-size: 45px;
  color: darkolivegreen;
  padding: 0;
}

/*Navigation Bar (About, Ducks, Subscribe)*/
#bootstrap-override nav.navbar {
  text-transform: title;
  font-family: 'Montserrat', monospace;
  font-weight: 400;
  font-size: 15px;
  padding-top: 20px;
  letter-spacing: 0.1em;
  margin: 0;
}

#bootstrap-override nav i{
  margin: 0 10px;
}

#bootstrap-override nav i a {
  font-style: 'Monsterrat';
  color: black;
  text-decoration: none;
}

#bootstrap-override .current-link {
  font-weight: 900;
}

#bootstrap-override a:hover {
 font-weight: 900;
}
p {
  font-size: 12px;
  font-family: 'Montserrat', monospace;
  font-weight: 200;
  line-height: 1.7;
}

#bootstrap-override .about-us {
  position: absolute;
  top: 15%;
  padding: 10px;
}

#bootstrap-override footer {
  margin:0;
  width: 100%;
  bottom: 0;
  padding: 10px 0;
  background: white;
  text-align: right;
  position: fixed;
  right: 40px;
}

#bootstrap-override footer .inline {
  /* putting social media icons in line with text */
  display: inline;
  padding: 0;
}

#bootstrap-override.fab {
  /* social media icons */
  font-size: 24px;
  padding: 0;
  display: inline;
}
